<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About me' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>

<aside class="links">
	<div>Hi, I'm Archer</div>
	<p></p>
	<div>I break stuff</div>
	<p></p>
    <a href="{{ link | prepend: site.baseurl | prepend: site.url }}" class="link">{{ prompt }}</a>
    <span> • </span>
    {% if site.github_username %}	
        <a href="https://github.com/{{ site.github_username }}" title="GitHub Profile" target="_blank" class="link">Github</a>
        <span> • </span>
    {% endif %}
    {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter Profile" target="_blank" class="link">Twitter</a>
        <span> • </span>
    {% endif %}
    {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linked_username }}" title="LinkedIn Profile" target="_blank" class="link">LinkedIn</a>
    {% endif %}
        <span> • </span>
        <a href="{{ site.url }}/feed.xml" title="RSS" target="_blank" class="link">RSS</a>
</aside>
